<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h4 class="navbar-brand">CoC Application</h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto"> <!-- Use me-auto to push "Home" to the left -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if user_logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto"> <!-- Use ms-auto to push "Login" and "Register" to the right -->
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>HomePage</h1>
    </div>

    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Latest News</h2>
            <ul class="list-group">
                {% for news in news_list %}
                    <li class="list-group-item">
                        <h5>This Month's Gold Pass details</h5>
                        <p>Start Time: {{ news.gpStart }}</p>
                        <p>End Time: {{ news.gpEnd }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Important Info</h2>
            <ul class="list-group">
                {% for item in info %}
                    <li class="list-group-item">
                        {{ item }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</body>
</html>